<div class="container my-5">
    <h1>Homework2-Frontend SPA</h1>
    <p>Es una de 2 tareas para buscar la oportunidad de entrar a un proyecto con Raiffeisen Latina</p>
    <hr>
    <h2>Descripción:</h2>
    <p class="font-weight-bold">Desarrollar un SPA en Angular 4+ que consuma la siguiente <a href="https://homework1-backend.herokuapp.com/">API</a> . Montarla en Heroku.</p>
    <ul>
        <li>En la página principal debe mostrar los items junto con el total</li>
        <li>En una segunda página se deben mostrar una gráfica: gráfica de barras para cada item vs su precio y el promedio como leyenda.</li>
    </ul>
</div>
